.robFeliz{
    width: 10%;
   
}
.robTriste{
    width: 10%;
}

.robPens{
    width: 10%;
}
#Rob{
    position: absolute;
    z-index: 6;
    opacity: 0;
}

#robF{
    width: 26%;
   
}

#robT{
    position: absolute;
    bottom: 0%;
    width: 26%;
}

#Pen{
    position: absolute;
    width: 26%;
    opacity: 1;
    top: 13%;
    left: 5.5%;
  
}

.robPens{
    width: 50%;
}

/*---------------------RESPONSIVE----------------------*/

@media (min-width:2560px) {
    
    .robTriste{
        width: 100px;
      
    }
    #robT{
        position: absolute;
        top: 20%;
        width: 50%;
      
    }

    #robF{
        width: 50%;
       
    }
}
